<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins:400,600' rel='stylesheet'>
    <link href="static/css/op_menu.css" rel="stylesheet">
    <title>MySQL (OCI Machine)</title>
</head>

<h1>Opções do Banco de dados</h1>

<div class="table-container">
    <button id='AAUpdateBtn' class="sideside">Atualizar exibição de Analises</button>
    <button id='ResultsUpdateBtn' class="sideside">Atualizar tabela de resultados</button>
    <button id='QueryBtn' class="sideside">Realizar Query</button>
    <button id='BackupBtn' class="sideside">Backup Geral</button>
</div>

<div class="table-container">
    
</div>
<script src="static/js/database_options.js"></script>
<body>
    
</body>
</html>