<!DOCTYPE html>
<html>
<head>
    <title>Calendário RPM</title>
    <link href='static/css/next_events.css' rel='stylesheet'>
</head>
<body>
    <h1 id='calendar-title'>Próximos Eventos da RPM</h1>
    <table>
        <thead>
            <tr>
                <th>Data</th>
                <th>Horário</th>
                <th>Tipo do Evento</th>
                <th>Simulador</th>
                <th>Categoria</th>
                <th>Circuito</th>
                <th>Duração</th>
				<th>Mais Informações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01/11/2023</td>
                <td>A partir das 20:15 no discord</td>
                <td>Forfun de Pré-Temporada</td>
                <td>Assetto Corsa Competizione</td>
                <td>GT3</td>
                <td>Monza</td>
                <td>2 Baterias de 30 min</td>
				<td> <button>Grupo WhatsApp</button></td>
            </tr>
            <tr>
                <td>08/11/2023</td>
                <td>A partir das 20:15 no discord</td>
                <td>Grid Evolution - 1º Etapa</td>
                <td>Assetto Corsa Competizione</td>
                <td>GT3</td>
                <td>Monza</td>
                <td>1 bateria de 1h e 30min</td>
				<td> <button>Grupo WhatsApp</button> <button>Site Oficial</button> </td>
            </tr>
            <!-- Adicione mais eventos aqui -->
        </tbody>
    </table>
</body>
</html>
