<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap' rel='stylesheet'>
    <link href="static/css/tables.css" rel="stylesheet">
    <title>Temporada 21</title>
</head>
<body>
    <div class='table-container'>
        <h1 class="table_title">Temporada 21</h1>
        <button class="btn_etapa">Descrição</button>
        <button class="btn_etapa">Tabela Geral</button>
        <button class="btn_etapa" onclick="toggleTable('E1')">Etapa 1</button>
        <button class="btn_etapa" onclick="toggleTable('E2')">Etapa 2</button>
        <button class="btn_etapa" onclick="toggleTable('E3')">Etapa 3</button>
        <button class="btn_etapa" onclick="toggleTable('E4')">Etapa 4</button>
        <button class="btn_etapa" onclick="toggleTable('E5')">Etapa 5</button>
		
        <div id='buttons-container'>
            <h1>Tabela - Geral</h1>
        </div>

				<table class="tabela_etapa" id='E1BU'>
					<th class='upd'></th>
					<th class='Pos'>Pos</th>
					<th class='Cat'>Cat</th>
					<th class='Pil'>Piloto</th>
					<th class='Eqp'>Equipe</th>
					<th class='Num'>Num</th>
					<th class='Tag'>Tag</th>
					<th class='Car'>Modelo</th>
					<th class='Pts'>Pts</th>
					<th class='Pun'>Pun</th>
				
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>1</td>
						<td class="driver_class">PRO</td>
						<td>Costa</td>
						<td></td>
						<td>23</td>
						<td>LLL</td>
						<td>33</td>
						<td>60</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>2</td>
						<td class="driver_class">PRO</td>
						<td>Gobi</td>
						<td></td>
						<td>1</td>
						<td>GOB</td>
						<td>35</td>
						<td>57</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>3</td>
						<td class="driver_class">PRO</td>
						<td>Santos</td>
						<td></td>
						<td>100</td>
						<td>RSA</td>
						<td>35</td>
						<td>54</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>4</td>
						<td class="driver_class">BRONZE</td>
						<td>lima</td>
						<td></td>
						<td>6</td>
						<td>JOB</td>
						<td>32</td>
						<td>52</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>5</td>
						<td class="driver_class">PRO</td>
						<td>Semensato</td>
						<td></td>
						<td>90</td>
						<td>SEM</td>
						<td>33</td>
						<td>50</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>6</td>
						<td class="driver_class">PRO</td>
						<td>Brito</td>
						<td></td>
						<td>82</td>
						<td>PLY</td>
						<td>35</td>
						<td>48</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>7</td>
						<td class="driver_class">SILVER</td>
						<td>Marcell</td>
						<td></td>
						<td>2</td>
						<td>MLL</td>
						<td>25</td>
						<td>46</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>8</td>
						<td class="driver_class">PRO</td>
						<td>Samuel</td>
						<td></td>
						<td>22</td>
						<td>PLY</td>
						<td>21</td>
						<td>44</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>9</td>
						<td class="driver_class">PRO</td>
						<td>FILGUEIRA</td>
						<td></td>
						<td>10</td>
						<td>FIL</td>
						<td>32</td>
						<td>42</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					</table>
				<table class="tabela_etapa" id='E2B1'>
					<th class='upd'></th>
					<th class='Pos'>Pos</th>
					<th class='Cat'>Cat</th>
					<th class='Pil'>Piloto</th>
					<th class='Eqp'>Equipe</th>
					<th class='Num'>Num</th>
					<th class='Tag'>Tag</th>
					<th class='Car'>Modelo</th>
					<th class='Pts'>Pts</th>
					<th class='Pun'>Pun</th>
				
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>1</td>
						<td class="driver_class">PRO</td>
						<td>Ramires Fischer</td>
						<td></td>
						<td>2</td>
						<td></td>
						<td>33</td>
						<td>60</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>2</td>
						<td class="driver_class">PRO</td>
						<td>Henrique Lustosa</td>
						<td></td>
						<td>404</td>
						<td></td>
						<td>34</td>
						<td>57</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>3</td>
						<td class="driver_class">BRONZE</td>
						<td>Dimitri Menezes</td>
						<td></td>
						<td>444</td>
						<td>DIM</td>
						<td>35</td>
						<td>54</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>4</td>
						<td class="driver_class">BRONZE</td>
						<td>Magno Fahel</td>
						<td></td>
						<td>14</td>
						<td></td>
						<td>32</td>
						<td>52</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>5</td>
						<td class="driver_class">PRO</td>
						<td>Matheus Samuel</td>
						<td></td>
						<td>22</td>
						<td>MAT</td>
						<td>21</td>
						<td>50</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>6</td>
						<td class="driver_class">PRO</td>
						<td>Nascimento</td>
						<td></td>
						<td>30</td>
						<td>NAS</td>
						<td>30</td>
						<td>48</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>7</td>
						<td class="driver_class">PRO</td>
						<td>Luan Costa</td>
						<td></td>
						<td>19</td>
						<td></td>
						<td>33</td>
						<td>46</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>8</td>
						<td class="driver_class">PRO</td>
						<td>PEIXOTO</td>
						<td></td>
						<td>36</td>
						<td>ASP</td>
						<td>32</td>
						<td>44</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>9</td>
						<td class="driver_class">BRONZE</td>
						<td>Mauro Oliveira</td>
						<td></td>
						<td>6</td>
						<td>MAU</td>
						<td>35</td>
						<td>42</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>10</td>
						<td class="driver_class">PRO</td>
						<td>Sturm</td>
						<td></td>
						<td>18</td>
						<td>STU</td>
						<td>35</td>
						<td>40</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>11</td>
						<td class="driver_class">BRONZE</td>
						<td>Mateus Dazgata</td>
						<td></td>
						<td>47</td>
						<td>MAT</td>
						<td>30</td>
						<td>37</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>12</td>
						<td class="driver_class">SILVER</td>
						<td>Marcell</td>
						<td></td>
						<td>1</td>
						<td>MLL</td>
						<td>33</td>
						<td>36</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>13</td>
						<td class="driver_class">BRONZE</td>
						<td>Diego Brocca</td>
						<td></td>
						<td>13</td>
						<td></td>
						<td>35</td>
						<td>35</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>14</td>
						<td class="driver_class">BRONZE</td>
						<td>Erisson Borge</td>
						<td></td>
						<td>35</td>
						<td></td>
						<td>35</td>
						<td>34</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>15</td>
						<td class="driver_class">BRONZE</td>
						<td>Gustavo Gobi</td>
						<td></td>
						<td>333</td>
						<td>DRI</td>
						<td>35</td>
						<td>33</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>16</td>
						<td class="driver_class">BRONZE</td>
						<td>Miquelote</td>
						<td></td>
						<td>23</td>
						<td>PLY</td>
						<td>24</td>
						<td>32</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>17</td>
						<td class="driver_class">PRO</td>
						<td>Max Silva</td>
						<td></td>
						<td>771</td>
						<td></td>
						<td>32</td>
						<td>31</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>18</td>
						<td class="driver_class">SILVER</td>
						<td>Zimermann</td>
						<td></td>
						<td>68</td>
						<td>PLY</td>
						<td>32</td>
						<td>30</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>19</td>
						<td class="driver_class">BRONZE</td>
						<td>Camila Fernandes</td>
						<td></td>
						<td>31</td>
						<td></td>
						<td>34</td>
						<td>29</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>20</td>
						<td class="driver_class">SILVER</td>
						<td>Zarpelon</td>
						<td></td>
						<td>296</td>
						<td>PLY</td>
						<td>32</td>
						<td>28</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>21</td>
						<td class="driver_class">BRONZE</td>
						<td>Ferreira</td>
						<td></td>
						<td>159</td>
						<td>BRF</td>
						<td>35</td>
						<td>25</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>22</td>
						<td class="driver_class">BRONZE</td>
						<td>Ricardo Semensato</td>
						<td></td>
						<td>90</td>
						<td></td>
						<td>33</td>
						<td>24</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>23</td>
						<td class="driver_class">SILVER</td>
						<td>Michael Filgueira </td>
						<td></td>
						<td>10</td>
						<td>MIC</td>
						<td>32</td>
						<td>23</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>24</td>
						<td class="driver_class">BRONZE</td>
						<td>Marcus Bertaglia</td>
						<td></td>
						<td>4</td>
						<td></td>
						<td>33</td>
						<td>22</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>25</td>
						<td class="driver_class">SILVER</td>
						<td>Eduardo Monturil</td>
						<td></td>
						<td>100</td>
						<td>DRI</td>
						<td>35</td>
						<td>21</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>26</td>
						<td class="driver_class">BRONZE</td>
						<td>Wellington Aleixo</td>
						<td></td>
						<td>70</td>
						<td></td>
						<td>35</td>
						<td>20</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>27</td>
						<td class="driver_class">SILVER</td>
						<td>Colino</td>
						<td></td>
						<td>24</td>
						<td>LCC</td>
						<td>35</td>
						<td>19</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>28</td>
						<td class="driver_class">BRONZE</td>
						<td>Americo</td>
						<td></td>
						<td>33</td>
						<td>PDR</td>
						<td>32</td>
						<td>18</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>29</td>
						<td class="driver_class">SILVER</td>
						<td>Gona alves</td>
						<td></td>
						<td>84</td>
						<td>WSG</td>
						<td>32</td>
						<td>17</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>30</td>
						<td class="driver_class">BRONZE</td>
						<td>Leo Sava</td>
						<td></td>
						<td>808</td>
						<td></td>
						<td>32</td>
						<td>16</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					</table>
				<table class="tabela_etapa" id='E2B2'>
					<th class='upd'></th>
					<th class='Pos'>Pos</th>
					<th class='Cat'>Cat</th>
					<th class='Pil'>Piloto</th>
					<th class='Eqp'>Equipe</th>
					<th class='Num'>Num</th>
					<th class='Tag'>Tag</th>
					<th class='Car'>Modelo</th>
					<th class='Pts'>Pts</th>
					<th class='Pun'>Pun</th>
				
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>1</td>
						<td class="driver_class">PRO</td>
						<td>Luan Costa</td>
						<td></td>
						<td>23</td>
						<td>LUA</td>
						<td>33</td>
						<td>60</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>2</td>
						<td class="driver_class">SILVER</td>
						<td>Wendel George</td>
						<td></td>
						<td>96</td>
						<td>WEN</td>
						<td>32</td>
						<td>57</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>3</td>
						<td class="driver_class">SILVER</td>
						<td>Marcio Alves</td>
						<td></td>
						<td>77</td>
						<td>MAR</td>
						<td>32</td>
						<td>54</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>4</td>
						<td class="driver_class">SILVER</td>
						<td>Ricardo Semensato</td>
						<td></td>
						<td>90</td>
						<td>SEM</td>
						<td>33</td>
						<td>52</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>5</td>
						<td class="driver_class">BRONZE</td>
						<td>Stenio Zimermann</td>
						<td></td>
						<td>68</td>
						<td>DRI</td>
						<td>32</td>
						<td>50</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>6</td>
						<td class="driver_class">BRONZE</td>
						<td>Michael Filgueira </td>
						<td></td>
						<td>10</td>
						<td>MIC</td>
						<td>32</td>
						<td>48</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>7</td>
						<td class="driver_class">SILVER</td>
						<td>Aledesta Senna</td>
						<td></td>
						<td>214</td>
						<td>SEN</td>
						<td>32</td>
						<td>46</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>8</td>
						<td class="driver_class">BRONZE</td>
						<td>Mateus Dazgata</td>
						<td></td>
						<td>47</td>
						<td>DAZ</td>
						<td>30</td>
						<td>44</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>9</td>
						<td class="driver_class">BRONZE</td>
						<td>Gustavo Gobi</td>
						<td></td>
						<td>333</td>
						<td>DRI</td>
						<td>35</td>
						<td>42</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>10</td>
						<td class="driver_class">BRONZE</td>
						<td>Pedro Americo</td>
						<td></td>
						<td>3</td>
						<td>AME</td>
						<td>32</td>
						<td>40</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>11</td>
						<td class="driver_class">PRO</td>
						<td>MENDES</td>
						<td></td>
						<td>24</td>
						<td>TRM</td>
						<td>30</td>
						<td>37</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>12</td>
						<td class="driver_class">PRO</td>
						<td>Matheus Samuel</td>
						<td></td>
						<td>22</td>
						<td>MAT</td>
						<td>21</td>
						<td>36</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>13</td>
						<td class="driver_class">SILVER</td>
						<td>Magno Fahel</td>
						<td></td>
						<td>14</td>
						<td></td>
						<td>32</td>
						<td>35</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>14</td>
						<td class="driver_class">SILVER</td>
						<td>Diego Delatorre</td>
						<td></td>
						<td>93</td>
						<td>DIE</td>
						<td>33</td>
						<td>34</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>15</td>
						<td class="driver_class">PRO</td>
						<td>Marcus Bertaglia</td>
						<td></td>
						<td>4</td>
						<td>MAR</td>
						<td>33</td>
						<td>33</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>16</td>
						<td class="driver_class">PRO</td>
						<td>Henrique Lustosa</td>
						<td></td>
						<td>404</td>
						<td></td>
						<td>34</td>
						<td>32</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>17</td>
						<td class="driver_class">SILVER</td>
						<td>Irineu Eler</td>
						<td></td>
						<td>448</td>
						<td></td>
						<td>32</td>
						<td>31</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>18</td>
						<td class="driver_class">PRO</td>
						<td>Queiroz</td>
						<td></td>
						<td>97</td>
						<td>QUE</td>
						<td>30</td>
						<td>30</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>19</td>
						<td class="driver_class">SILVER</td>
						<td>Wesley Santos</td>
						<td></td>
						<td>83</td>
						<td>WES</td>
						<td>32</td>
						<td>29</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>20</td>
						<td class="driver_class">SILVER</td>
						<td>Marcell</td>
						<td></td>
						<td>2</td>
						<td>MLL</td>
						<td>25</td>
						<td>28</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>21</td>
						<td class="driver_class">BRONZE</td>
						<td>Carlos Xavier</td>
						<td></td>
						<td>168</td>
						<td>XAV</td>
						<td>32</td>
						<td>25</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					</table>
				<table class="tabela_etapa" id='E3TL'>
					<th class='upd'></th>
					<th class='Pos'>Pos</th>
					<th class='Cat'>Cat</th>
					<th class='Pil'>Piloto</th>
					<th class='Eqp'>Equipe</th>
					<th class='Num'>Num</th>
					<th class='Tag'>Tag</th>
					<th class='Car'>Modelo</th>
					<th class='Pts'>Pts</th>
					<th class='Pun'>Pun</th>
				
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>1</td>
						<td class="driver_class">PRO</td>
						<td>Luan Costa</td>
						<td></td>
						<td>23</td>
						<td>LUA</td>
						<td>33</td>
						<td>60</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>2</td>
						<td class="driver_class">BRONZE</td>
						<td>Dimitri Menezes</td>
						<td></td>
						<td>444</td>
						<td>DIM</td>
						<td>35</td>
						<td>57</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>3</td>
						<td class="driver_class">SILVER</td>
						<td>Neto [LPAV]</td>
						<td></td>
						<td>34</td>
						<td>PLY</td>
						<td>30</td>
						<td>54</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>4</td>
						<td class="driver_class">PRO</td>
						<td>Ramires Fischer</td>
						<td></td>
						<td>19</td>
						<td></td>
						<td>33</td>
						<td>52</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>5</td>
						<td class="driver_class">SILVER</td>
						<td>Marcell</td>
						<td></td>
						<td>2</td>
						<td>MLL</td>
						<td>25</td>
						<td>50</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>6</td>
						<td class="driver_class">BRONZE</td>
						<td>Ferreira</td>
						<td></td>
						<td>46</td>
						<td>BRF</td>
						<td>30</td>
						<td>48</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>7</td>
						<td class="driver_class">BRONZE</td>
						<td>Skalecki</td>
						<td></td>
						<td>99</td>
						<td>GSK</td>
						<td>20</td>
						<td>46</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>8</td>
						<td class="driver_class">BRONZE</td>
						<td>Skalecki</td>
						<td></td>
						<td>720</td>
						<td>GSK</td>
						<td>35</td>
						<td>44</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>9</td>
						<td class="driver_class">BRONZE</td>
						<td>Skalecki</td>
						<td></td>
						<td>1</td>
						<td>GSK</td>
						<td>3</td>
						<td>42</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>10</td>
						<td class="driver_class">BRONZE</td>
						<td>Monteiro</td>
						<td></td>
						<td>221</td>
						<td>MTR</td>
						<td>23</td>
						<td>40</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>11</td>
						<td class="driver_class">BRONZE</td>
						<td>Monteiro</td>
						<td></td>
						<td>38</td>
						<td>MTR</td>
						<td>30</td>
						<td>37</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					</table>
				<table class="tabela_etapa" id='E4BU'>
					<th class='upd'></th>
					<th class='Pos'>Pos</th>
					<th class='Cat'>Cat</th>
					<th class='Pil'>Piloto</th>
					<th class='Eqp'>Equipe</th>
					<th class='Num'>Num</th>
					<th class='Tag'>Tag</th>
					<th class='Car'>Modelo</th>
					<th class='Pts'>Pts</th>
					<th class='Pun'>Pun</th>
				
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>1</td>
						<td class="driver_class">PRO</td>
						<td>Popo</td>
						<td></td>
						<td>44</td>
						<td>PLY</td>
						<td>8</td>
						<td>60</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>2</td>
						<td class="driver_class">PRO</td>
						<td>Ferreira</td>
						<td></td>
						<td>98</td>
						<td>FER</td>
						<td>30</td>
						<td>57</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>3</td>
						<td class="driver_class">PRO</td>
						<td>Marcell</td>
						<td></td>
						<td>2</td>
						<td>MLL</td>
						<td>25</td>
						<td>54</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>4</td>
						<td class="driver_class">PRO</td>
						<td>Fischer</td>
						<td></td>
						<td>19</td>
						<td>FIS</td>
						<td>33</td>
						<td>52</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>5</td>
						<td class="driver_class">PRO</td>
						<td>Samuel</td>
						<td></td>
						<td>25</td>
						<td>PLY</td>
						<td>31</td>
						<td>50</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>6</td>
						<td class="driver_class">PRO</td>
						<td>Dan</td>
						<td></td>
						<td>100</td>
						<td>GDA</td>
						<td>35</td>
						<td>48</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>7</td>
						<td class="driver_class">BRONZE</td>
						<td>Americo</td>
						<td></td>
						<td>1</td>
						<td>PDR</td>
						<td>32</td>
						<td>46</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>8</td>
						<td class="driver_class">PRO</td>
						<td>George</td>
						<td></td>
						<td>96</td>
						<td>GEO</td>
						<td>32</td>
						<td>44</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>9</td>
						<td class="driver_class">BRONZE</td>
						<td>Fonseca</td>
						<td></td>
						<td>720</td>
						<td>RLF</td>
						<td>35</td>
						<td>42</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>10</td>
						<td class="driver_class">SILVER</td>
						<td>Lucas</td>
						<td></td>
						<td>24</td>
						<td>JOA</td>
						<td>33</td>
						<td>40</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>11</td>
						<td class="driver_class">PRO</td>
						<td>Yuri</td>
						<td></td>
						<td>321</td>
						<td>GAH</td>
						<td>35</td>
						<td>37</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>12</td>
						<td class="driver_class">BRONZE</td>
						<td>NUNES</td>
						<td></td>
						<td>84</td>
						<td>PLY</td>
						<td>32</td>
						<td>36</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>13</td>
						<td class="driver_class">PRO</td>
						<td>FILGUEIRA</td>
						<td></td>
						<td>10</td>
						<td>FIL</td>
						<td>32</td>
						<td>35</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>14</td>
						<td class="driver_class">PRO</td>
						<td>Bersano</td>
						<td></td>
						<td>77</td>
						<td>PLY</td>
						<td>20</td>
						<td>34</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>15</td>
						<td class="driver_class">PRO</td>
						<td>Costa</td>
						<td></td>
						<td>23</td>
						<td>LLL</td>
						<td>33</td>
						<td>33</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>16</td>
						<td class="driver_class">PRO</td>
						<td>Forace</td>
						<td></td>
						<td>911</td>
						<td>RFC</td>
						<td>34</td>
						<td>32</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>17</td>
						<td class="driver_class">PRO</td>
						<td>Xavier</td>
						<td></td>
						<td>168</td>
						<td>CAX</td>
						<td>32</td>
						<td>31</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>18</td>
						<td class="driver_class">SILVER</td>
						<td>Skalecki</td>
						<td></td>
						<td>46</td>
						<td>GSK</td>
						<td>30</td>
						<td>30</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>19</td>
						<td class="driver_class">PRO</td>
						<td>Max Silva</td>
						<td></td>
						<td>111</td>
						<td>MAX</td>
						<td>32</td>
						<td>29</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>20</td>
						<td class="driver_class">SILVER</td>
						<td>ALBUQUERQUE</td>
						<td></td>
						<td>13</td>
						<td>RPA</td>
						<td>24</td>
						<td>28</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					</table>
				<table class="tabela_etapa" id='E5BU'>
					<th class='upd'></th>
					<th class='Pos'>Pos</th>
					<th class='Cat'>Cat</th>
					<th class='Pil'>Piloto</th>
					<th class='Eqp'>Equipe</th>
					<th class='Num'>Num</th>
					<th class='Tag'>Tag</th>
					<th class='Car'>Modelo</th>
					<th class='Pts'>Pts</th>
					<th class='Pun'>Pun</th>
				
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>1</td>
						<td class="driver_class">PRO</td>
						<td>Henrique Lustosa</td>
						<td></td>
						<td>404</td>
						<td></td>
						<td>34</td>
						<td>60</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>2</td>
						<td class="driver_class">PRO</td>
						<td>Gabriel Yuri</td>
						<td></td>
						<td>321</td>
						<td>GAB</td>
						<td>35</td>
						<td>57</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>3</td>
						<td class="driver_class">SILVER</td>
						<td>Carlos Popa </td>
						<td></td>
						<td>44</td>
						<td>CAR</td>
						<td>8</td>
						<td>54</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>4</td>
						<td class="driver_class">PRO</td>
						<td>Luan Costa</td>
						<td></td>
						<td>23</td>
						<td>LUA</td>
						<td>33</td>
						<td>52</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>5</td>
						<td class="driver_class">SILVER</td>
						<td>Lucas Fachin</td>
						<td></td>
						<td>73</td>
						<td>LUC</td>
						<td>25</td>
						<td>50</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>6</td>
						<td class="driver_class">SILVER</td>
						<td>Leo Sava</td>
						<td></td>
						<td>9</td>
						<td>LEO</td>
						<td>32</td>
						<td>48</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>7</td>
						<td class="driver_class">SILVER</td>
						<td>Irineu Eler</td>
						<td></td>
						<td>448</td>
						<td></td>
						<td>32</td>
						<td>46</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>8</td>
						<td class="driver_class">SILVER</td>
						<td>Marcio Alves</td>
						<td></td>
						<td>77</td>
						<td>MAR</td>
						<td>32</td>
						<td>44</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>9</td>
						<td class="driver_class">PRO</td>
						<td>Matheus Samuel</td>
						<td></td>
						<td>22</td>
						<td>MAT</td>
						<td>21</td>
						<td>42</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>10</td>
						<td class="driver_class">SILVER</td>
						<td>Wendel George</td>
						<td></td>
						<td>96</td>
						<td>WEN</td>
						<td>32</td>
						<td>40</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>11</td>
						<td class="driver_class">BRONZE</td>
						<td>Michael Filgueira </td>
						<td></td>
						<td>10</td>
						<td>MIC</td>
						<td>32</td>
						<td>37</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>12</td>
						<td class="driver_class">SILVER</td>
						<td>Wesley Santos</td>
						<td></td>
						<td>83</td>
						<td>WES</td>
						<td>32</td>
						<td>36</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>13</td>
						<td class="driver_class">SILVER</td>
						<td>Robert Lewandowsk</td>
						<td></td>
						<td>14</td>
						<td></td>
						<td>30</td>
						<td>35</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>14</td>
						<td class="driver_class">BRONZE</td>
						<td>Stenio Zimermann</td>
						<td></td>
						<td>68</td>
						<td>DRI</td>
						<td>32</td>
						<td>34</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>15</td>
						<td class="driver_class">PRO</td>
						<td>Ramires Fischer</td>
						<td></td>
						<td>1</td>
						<td>FIS</td>
						<td>33</td>
						<td>33</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>16</td>
						<td class="driver_class">SILVER</td>
						<td>Ricardo Semensato</td>
						<td></td>
						<td>90</td>
						<td>SEM</td>
						<td>33</td>
						<td>32</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>17</td>
						<td class="driver_class">BRONZE</td>
						<td>Mateus Dazgata</td>
						<td></td>
						<td>47</td>
						<td>DAZ</td>
						<td>30</td>
						<td>31</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>18</td>
						<td class="driver_class">BRONZE</td>
						<td>Gustavo Gobi</td>
						<td></td>
						<td>333</td>
						<td>DRI</td>
						<td>35</td>
						<td>30</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>19</td>
						<td class="driver_class">SILVER</td>
						<td>Max Silva</td>
						<td></td>
						<td>111</td>
						<td>MAX</td>
						<td>32</td>
						<td>29</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>20</td>
						<td class="driver_class">PRO</td>
						<td>Matheus Silva</td>
						<td></td>
						<td>95</td>
						<td>SIL</td>
						<td>34</td>
						<td>28</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>21</td>
						<td class="driver_class">SILVER</td>
						<td>Aledesta Senna</td>
						<td></td>
						<td>214</td>
						<td>SEN</td>
						<td>32</td>
						<td>25</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>22</td>
						<td class="driver_class">BRONZE</td>
						<td>Julio Fabi</td>
						<td></td>
						<td>72</td>
						<td>JUL</td>
						<td>35</td>
						<td>24</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>23</td>
						<td class="driver_class">SILVER</td>
						<td>Oque Katagrama</td>
						<td></td>
						<td>999</td>
						<td>KAT</td>
						<td>32</td>
						<td>23</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>24</td>
						<td class="driver_class">SILVER</td>
						<td>Magno Fahel</td>
						<td></td>
						<td>15</td>
						<td></td>
						<td>32</td>
						<td>22</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>25</td>
						<td class="driver_class">SILVER</td>
						<td>Rick Teodoro</td>
						<td></td>
						<td>38</td>
						<td>TEO</td>
						<td>35</td>
						<td>21</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>26</td>
						<td class="driver_class">BRONZE</td>
						<td>Zaca DicasF1</td>
						<td></td>
						<td>75</td>
						<td>ZAC</td>
						<td>20</td>
						<td>20</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>27</td>
						<td class="driver_class">BRONZE</td>
						<td>Rodrigo Forace</td>
						<td></td>
						<td>8</td>
						<td>ROD</td>
						<td>34</td>
						<td>19</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>28</td>
						<td class="driver_class">BRONZE</td>
						<td>Camila Fernandes</td>
						<td></td>
						<td>30</td>
						<td></td>
						<td>34</td>
						<td>18</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>29</td>
						<td class="driver_class">BRONZE</td>
						<td>Carlos Xavier</td>
						<td></td>
						<td>168</td>
						<td>XAV</td>
						<td>32</td>
						<td>17</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>30</td>
						<td class="driver_class">BRONZE</td>
						<td>Edimar Cardoso</td>
						<td></td>
						<td>42</td>
						<td></td>
						<td>32</td>
						<td>16</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>31</td>
						<td class="driver_class">BRONZE</td>
						<td>Wellington Aleixo</td>
						<td></td>
						<td>70</td>
						<td></td>
						<td>35</td>
						<td>12</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>32</td>
						<td class="driver_class">BRONZE</td>
						<td>Pedro Americo</td>
						<td></td>
						<td>3</td>
						<td>AME</td>
						<td>32</td>
						<td>11</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>33</td>
						<td class="driver_class">BRONZE</td>
						<td>Gustavo Dan</td>
						<td></td>
						<td>100</td>
						<td>DRI</td>
						<td>35</td>
						<td>10</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>34</td>
						<td class="driver_class">SILVER</td>
						<td>Tharso Bersano</td>
						<td></td>
						<td>777</td>
						<td>THA</td>
						<td>20</td>
						<td>9</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>35</td>
						<td class="driver_class">SILVER</td>
						<td>Rodrigo Soto</td>
						<td></td>
						<td>27</td>
						<td></td>
						<td>20</td>
						<td>8</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>36</td>
						<td class="driver_class">BRONZE</td>
						<td>Gabriel Pastorini</td>
						<td></td>
						<td>36</td>
						<td>DRI</td>
						<td>35</td>
						<td>7</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>37</td>
						<td class="driver_class">SILVER</td>
						<td>Rolf Campos</td>
						<td></td>
						<td>87</td>
						<td></td>
						<td>33</td>
						<td>6</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>38</td>
						<td class="driver_class">BRONZE</td>
						<td>Raphael Fonseca</td>
						<td></td>
						<td>12</td>
						<td>RAP</td>
						<td>35</td>
						<td>5</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>39</td>
						<td class="driver_class">PRO</td>
						<td>Marcus Bertaglia</td>
						<td></td>
						<td>4</td>
						<td>MAR</td>
						<td>33</td>
						<td>3</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>40</td>
						<td class="driver_class">PRO</td>
						<td>Paulo Toledo</td>
						<td></td>
						<td>470</td>
						<td>PAU</td>
						<td>33</td>
						<td>1</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>41</td>
						<td class="driver_class">SILVER</td>
						<td>Diego Brocca</td>
						<td></td>
						<td>13</td>
						<td>DIE</td>
						<td>35</td>
						<td>0</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>42</td>
						<td class="driver_class">SILVER</td>
						<td>Diego Delatorre</td>
						<td></td>
						<td>93</td>
						<td>DIE</td>
						<td>33</td>
						<td>0</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>43</td>
						<td class="driver_class">PRO</td>
						<td>Jean Ferreira</td>
						<td></td>
						<td>888</td>
						<td></td>
						<td>30</td>
						<td>0</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>44</td>
						<td class="driver_class">SILVER</td>
						<td>Thiago Moura</td>
						<td></td>
						<td>99</td>
						<td></td>
						<td>33</td>
						<td>0</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>45</td>
						<td class="driver_class">SILVER</td>
						<td>Flavio Hulk</td>
						<td></td>
						<td>29</td>
						<td></td>
						<td>33</td>
						<td>0</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					
					<tr>
						<td class="driver_upd">&#9660;</td>
						<td>46</td>
						<td class="driver_class">SILVER</td>
						<td>Gabriel Skalecki</td>
						<td></td>
						<td>89</td>
						<td>GAB</td>
						<td>30</td>
						<td>0</td>
						<td class="driver_punishment">-15</td>	
					</tr>
					</table>        <!--STOP2-->
    </div>
    <script src="static/js/tables.js"></script>
</body>
</html>
