body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#request-container {
    text-align: center;
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    width: 600px;
}

#request-title {
    color: #2b23c4;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: none;
    padding: 10px;
    text-align: left;
}

th {
    display: none;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    font-size: 16px;
}

textarea {
    height: 150px;
}

button {
    background-color: #2b23c4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}
label {
    color: #000;
}