body {
    text-align: center;
    /* Centraliza o conteúdo na página */
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #ffffff;
}
table {
    margin: auto;
    border-collapse: collapse;
    width: 40%;
}
th, td {
    border: 1px solid rgb(126, 126, 126);
    padding: 3px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
}
th {
    background-color: #2b23c4;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btn-amarelo {
    background-color: yellow;
    color: black;
    font-size: 100%;
}

.btn-verde {
    background-color: green;
    color: white;
    font-size: 100%;
}
.details-row {
    display: none;
    font-weight: normal;
    background-color: white;
}
.details-container {
    padding: 10px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}
.modal-content h3 {
    color: #2b23c4;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}
.modal-content label, .modal-content select {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}
.modal-content select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}
#additional-details {
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
}
.modal-content label {
    text-align: left;
}
.btn_modal:hover, .btn-verde:hover{
    filter: brightness(1.3);
}
.btn-amarelo:hover{
    filter: brightness(0.9);
}
.btn_modal{
    background-color: #2b23c4;
    color: white;
    width: 14%;
    height: 25px;
    margin-top: 5%;
    border-radius: 80px;
}
.checkbox{
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn_record:hover{
    background-color: rgb(248, 221, 186);
}
.btn_record{
    width: 100%;
    background-color: burlywood;
    font-family: Poppins;
    font-weight: 700;
}

.resume_container{
    display: flex;  
    /*justify-content: flex-start;*/
    position: relative;
}

#resume_field{
    width: 300px;
    height: 70px;
    padding-left: 10px;
}


/* seletor e temporada */

.season-selector {
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    right: 444px;
}

.season-selector button {
    padding: 8px;
    font-size: 14px;
    font-family: Poppins;
    border: 1px solid rgb(126, 126, 126);
    border-radius: 5px;
    background-color: white;
    color: #2b23c4;
    cursor: pointer;
}

.season-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    border: 1px solid rgb(126, 126, 126);
    border-top: none;
    border-radius: 0 0 5px 5px;
    background-color: white;
}

.season-dropdown a {
    display: block;
    padding: 8px;
    text-decoration: none;
    font-family: Poppins;
    color: #2b23c4;
}

.season-dropdown a:hover {
    background-color: #f2f2f2;
}   